{% extends 'base.html.twig' %}
{% block title %}{{ program.title }}-Saison {{ season.number }}{% endblock %}

{% block body %}

    <h1><a href="/wild/program/{{ program.title }}">{{ program.title }}</a> Saison {{ season.number }}</h1>
    {% for episode in episodes %}
        <div>
            <h2><a href="/wild/episode/{{ episode.id }}">Episode {{ episode.number }} : {{ episode.title }}</a></h2>
            <p>{{ episode.synopsis }}</p>
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}
    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}